obj/project.assets.json
obj/project.nuget.cache
obj/TodoApi.csproj.nuget.dgspec.json
obj/TodoApi.csproj.nuget.g.props
obj/TodoApi.csproj.nuget.g.targets
bin/Debug/net5.0/appsettings.Development.json
bin/Debug/net5.0/appsettings.json
bin/Debug/net5.0/Microsoft.Data.SqlClient.dll
bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
bin/Debug/net5.0/Microsoft.EntityFrameworkCore.SqlServer.dll
bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
bin/Debug/net5.0/Microsoft.Identity.Client.dll
bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
bin/Debug/net5.0/Microsoft.OpenApi.dll
bin/Debug/net5.0/Newtonsoft.Json.dll
bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
bin/Debug/net5.0/System.Configuration.ConfigurationManager.dll
bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
bin/Debug/net5.0/System.Runtime.Caching.dll
bin/Debug/net5.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/net5.0/TodoApi.deps.json
bin/Debug/net5.0/TodoApi.dll
bin/Debug/net5.0/TodoApi.exe
bin/Debug/net5.0/TodoApi.pdb
bin/Debug/net5.0/TodoApi.runtimeconfig.dev.json
bin/Debug/net5.0/TodoApi.runtimeconfig.json
bin/Debug/net5.0/ref/TodoApi.dll
bin/Debug/net5.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/apphost.exe
obj/Debug/net5.0/TodoApi.AssemblyInfo.cs
obj/Debug/net5.0/TodoApi.AssemblyInfoInputs.cache
obj/Debug/net5.0/TodoApi.assets.cache
obj/Debug/net5.0/TodoApi.csproj.CopyComplete
obj/Debug/net5.0/TodoApi.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/TodoApi.csproj.FileListAbsolute.txt
obj/Debug/net5.0/TodoApi.csprojAssemblyReference.cache
obj/Debug/net5.0/TodoApi.dll
obj/Debug/net5.0/TodoApi.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/TodoApi.genruntimeconfig.cache
obj/Debug/net5.0/TodoApi.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net5.0/TodoApi.MvcApplicationPartsAssemblyInfo.cs
obj/Debug/net5.0/TodoApi.pdb
obj/Debug/net5.0/TodoApi.RazorTargetAssemblyInfo.cache
obj/Debug/net5.0/ref/TodoApi.dll
obj/Debug/net5.0/staticwebassets/TodoApi.StaticWebAssets.Manifest.cache
obj/Debug/net5.0/staticwebassets/TodoApi.StaticWebAssets.xml
